
<article id="data-table">

<div class="table-responsive">

<table class="mb-0 table table-bordered table-striped">

	<thead>

		<tr>

			<th scope="col">fullname</th>

			<th scope="col">latest</th>

			<th scope="col">date</th>

			<th scope="col">few latest</th>

			<th scope="col">source</th>

		</tr>

	</thead>

	<tbody class="table-group-divider">

		<tr>

			<td>AlmaLinux OS</td>

			<td><a target="_blank" href="https://repo.almalinux.org/almalinux/9.5/isos/x86_64/AlmaLinux-9.5-x86_64-dvd.iso">9.5</a></td>

			<td>2024-11-13</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://repo.almalinux.org/almalinux/9.5/isos/x86_64/AlmaLinux-9.5-x86_64-dvd.iso">9.5</a></li>

					<li><a target="_blank" href="https://repo.almalinux.org/almalinux/9.4/isos/x86_64/AlmaLinux-9.4-x86_64-dvd.iso">9.4</a></li>

					<li><a target="_blank" href="https://vault.almalinux.org/9.3/isos/x86_64/AlmaLinux-9.3-x86_64-dvd.iso">9.3</a></li>

				</ul>

			</td>

			<td>current</td>

		</tr>

		<tr>

			<td>Alpine Linux</td>

			<td><a target="_blank" href="https://dl-cdn.alpinelinux.org/alpine/v3.21/releases/x86_64/alpine-standard-3.21.3-x86_64.iso">3.21</a></td>

			<td class="table-success">2025-02-13</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://dl-cdn.alpinelinux.org/alpine/v3.21/releases/x86_64/alpine-standard-3.21.3-x86_64.iso">3.21</a></li>

					<li><a target="_blank" href="https://dl-cdn.alpinelinux.org/alpine/v3.20/releases/x86_64/alpine-standard-3.20.6-x86_64.iso">3.20</a></li>

					<li><a target="_blank" href="https://dl-cdn.alpinelinux.org/alpine/v3.19/releases/x86_64/alpine-standard-3.19.7-x86_64.iso">3.19</a></li>

				</ul>

			</td>

			<td>current</td>

		</tr>

		<tr>

			<td>Arch Linux</td>

			<td><a target="_blank" href="https://geo.mirror.pkgbuild.com/iso/2025.03.01/archlinux-2025.03.01-x86_64.iso">2025.03.01</a></td>

			<td class="table-success">2025-03-01</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://geo.mirror.pkgbuild.com/iso/2025.03.01/archlinux-2025.03.01-x86_64.iso">2025.03.01</a></li>

					<li><a target="_blank" href="https://geo.mirror.pkgbuild.com/iso/2025.02.01/archlinux-2025.02.01-x86_64.iso">2025.02.01</a></li>

					<li><a target="_blank" href="https://geo.mirror.pkgbuild.com/iso/2025.01.01/archlinux-2025.01.01-x86_64.iso">2025.01.01</a></li>

				</ul>

			</td>

			<td>current</td>

		</tr>

		<tr>

			<td>CentOS Stream</td>

			<td><a target="_blank" href="https://mirror.in2p3.fr/pub/linux/centos-stream/10-stream/BaseOS/x86_64/iso/CentOS-Stream-10-latest-x86_64-dvd1.iso">10-stream</a></td>

			<td class="table-success">2025-03-03</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://mirror.in2p3.fr/pub/linux/centos-stream/10-stream/BaseOS/x86_64/iso/CentOS-Stream-10-latest-x86_64-dvd1.iso">10-stream</a></li>

					<li><a target="_blank" href="https://mirror.in2p3.fr/pub/linux/centos-stream/9-stream/BaseOS/x86_64/iso/CentOS-Stream-9-latest-x86_64-dvd1.iso">9-stream</a></li>

					<li><a target="_blank" href="https://mirror.in2p3.fr/pub/linux/centos-vault/8.5.2111/isos/x86_64/CentOS-8.5.2111-x86_64-dvd1.iso">8.5.2111</a></li>

				</ul>

			</td>

			<td>current</td>

		</tr>

		<tr>

			<td>Clonezilla</td>

			<td><a target="_blank" href="https://sourceforge.net/projects/clonezilla/files/clonezilla_live_stable/3.2.1-9/clonezilla-live-3.2.1-9-amd64.iso">3.2.1-9</a></td>

			<td class="table-success">2025-03-03</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://sourceforge.net/projects/clonezilla/files/clonezilla_live_stable/3.2.1-9/clonezilla-live-3.2.1-9-amd64.iso">3.2.1-9</a></li>

					<li><a target="_blank" href="https://sourceforge.net/projects/clonezilla/files/clonezilla_live_stable/3.2.0-5/clonezilla-live-3.2.0-5-amd64.iso">3.2.0-5</a></li>

					<li><a target="_blank" href="https://sourceforge.net/projects/clonezilla/files/clonezilla_live_stable/3.1.3-16/clonezilla-live-3.1.3-16-amd64.iso">3.1.3-16</a></li>

				</ul>

			</td>

			<td>current</td>

		</tr>

		<tr>

			<td>Debian</td>

			<td><a target="_blank" href="https://cdimage.debian.org/debian-cd/current/amd64/iso-dvd/debian-12.9.0-amd64-DVD-1.iso">12.9.0</a></td>

			<td>2025-01-11</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://cdimage.debian.org/debian-cd/current/amd64/iso-dvd/debian-12.9.0-amd64-DVD-1.iso">12.9.0</a></li>

					<li><a target="_blank" href="https://cdimage.debian.org/mirror/cdimage/archive/12.8.0/amd64/iso-dvd/debian-12.8.0-amd64-DVD-1.iso">12.8.0</a></li>

					<li><a target="_blank" href="https://cdimage.debian.org/mirror/cdimage/archive/12.7.0/amd64/iso-dvd/debian-12.7.0-amd64-DVD-1.iso">12.7.0</a></li>

				</ul>

			</td>

			<td>current</td>

		</tr>

		<tr>

			<td>Fedora Linux</td>

			<td><a target="_blank" href="https://mirror.in2p3.fr/pub/fedora/linux/releases/41/Workstation/x86_64/iso/Fedora-Workstation-Live-x86_64-41-1.4.iso">41</a></td>

			<td>2024-10-24</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://mirror.in2p3.fr/pub/fedora/linux/releases/41/Workstation/x86_64/iso/Fedora-Workstation-Live-x86_64-41-1.4.iso">41</a></li>

					<li><a target="_blank" href="https://mirror.in2p3.fr/pub/fedora/linux/releases/40/Workstation/x86_64/iso/Fedora-Workstation-Live-x86_64-40-1.14.iso">40</a></li>

					<li><a target="_blank" href="https://mirror.in2p3.fr/pub/fedora/linux/releases/39/Workstation/x86_64/iso/Fedora-Workstation-Live-x86_64-39-1.5.iso">39</a></li>

				</ul>

			</td>

			<td>current</td>

		</tr>

		<tr>

			<td>FreeBSD</td>

			<td><a target="_blank" href="https://download.freebsd.org/releases/ISO-IMAGES/14.2/FreeBSD-14.2-RELEASE-amd64-dvd1.iso">14.2</a></td>

			<td>2024-11-29</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://download.freebsd.org/releases/ISO-IMAGES/14.2/FreeBSD-14.2-RELEASE-amd64-dvd1.iso">14.2</a></li>

					<li><a target="_blank" href="https://download.freebsd.org/releases/ISO-IMAGES/14.1/FreeBSD-14.1-RELEASE-amd64-dvd1.iso">14.1</a></li>

					<li><a target="_blank" href="https://download.freebsd.org/releases/ISO-IMAGES/13.5/FreeBSD-13.5-RELEASE-amd64-dvd1.iso">13.5</a></li>

				</ul>

			</td>

			<td>current</td>

		</tr>

		<tr>

			<td>Kaisen Linux</td>

			<td><a target="_blank" href="https://iso.kaisenlinux.org/rolling/kaisenlinuxrolling2.3-amd64-MATE.iso">2.3</a></td>

			<td>2023-05-31</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://iso.kaisenlinux.org/rolling/kaisenlinuxrolling2.3-amd64-MATE.iso">2.3</a></li>

					<li><a target="_blank" href="https://iso.kaisenlinux.org/rolling/kaisenlinuxrolling2.2-amd64-MATE.iso">2.2</a></li>

					<li><a target="_blank" href="https://iso.kaisenlinux.org/rolling/kaisenlinuxrolling2.1-amd64-MATE.iso">2.1</a></li>

				</ul>

			</td>

			<td>current</td>

		</tr>

		<tr>

			<td>Kali Linux</td>

			<td><a target="_blank" href="https://cdimage.kali.org/kali-2025.1a/kali-linux-2025.1a-installer-amd64.iso">2025.1a</a></td>

			<td class="table-success">2025-03-07</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://cdimage.kali.org/kali-2025.1a/kali-linux-2025.1a-installer-amd64.iso">2025.1a</a></li>

					<li><a target="_blank" href="https://cdimage.kali.org/kali-2024.4/kali-linux-2024.4-installer-amd64.iso">2024.4</a></li>

				</ul>

			</td>

			<td>current</td>

		</tr>

		<tr>

			<td>LibreELEC</td>

			<td><a target="_blank" href="https://releases.libreelec.tv/LibreELEC-Generic.x86_64-12.0.2.img.gz">12.0</a></td>

			<td>2025-01-01</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://releases.libreelec.tv/LibreELEC-Generic.x86_64-12.0.2.img.gz">12.0</a></li>

					<li><a target="_blank" href="https://releases.libreelec.tv/LibreELEC-Generic.x86_64-11.0.6.img.gz">11.0</a></li>

					<li><a target="_blank" href="https://releases.libreelec.tv/LibreELEC-Generic.x86_64-10.0.4.img.gz">10.0</a></li>

				</ul>

			</td>

			<td>current</td>

		</tr>

		<tr>

			<td>Linux Kernel</td>

			<td><a target="_blank" href="https://mirrors.edge.kernel.org/pub/linux/kernel/v6.x/linux-6.13.6.tar.gz">6.13.6</a></td>

			<td class="table-success">2025-03-07</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://mirrors.edge.kernel.org/pub/linux/kernel/v6.x/linux-6.13.6.tar.gz">6.13.6</a></li>

					<li><a target="_blank" href="https://mirrors.edge.kernel.org/pub/linux/kernel/v6.x/linux-6.13.5.tar.gz">6.13.5</a></li>

					<li><a target="_blank" href="https://mirrors.edge.kernel.org/pub/linux/kernel/v6.x/linux-6.13.4.tar.gz">6.13.4</a></li>

				</ul>

			</td>

			<td>current</td>

		</tr>

		<tr>

			<td>Mageia</td>

			<td><a target="_blank" href="https://mirrors.kernel.org/mageia/iso/9/Mageia-9-x86_64/Mageia-9-x86_64.iso">9</a></td>

			<td>2023-08-24</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://mirrors.kernel.org/mageia/iso/9/Mageia-9-x86_64/Mageia-9-x86_64.iso">9</a></li>

					<li><a target="_blank" href="https://mirrors.kernel.org/mageia/iso/8/Mageia-8-x86_64/Mageia-8-x86_64.iso">8</a></li>

				</ul>

			</td>

			<td>current</td>

		</tr>

		<tr>

			<td>Manjaro Linux</td>

			<td><a target="_blank" href="https://download.manjaro.org/kde/24.2.1/manjaro-kde-24.2.1-241216-linux612.iso">24.2.1</a></td>

			<td>rolling</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://download.manjaro.org/kde/24.2.1/manjaro-kde-24.2.1-241216-linux612.iso">24.2.1</a></li>

				</ul>

			</td>

			<td>current</td>

		</tr>

		<tr>

			<td>Linux Mint</td>

			<td><a target="_blank" href="https://mirrors.edge.kernel.org/linuxmint/stable/22.1/linuxmint-22.1-cinnamon-64bit.iso">22.1</a></td>

			<td>2025-01-10</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://mirrors.edge.kernel.org/linuxmint/stable/22.1/linuxmint-22.1-cinnamon-64bit.iso">22.1</a></li>

					<li><a target="_blank" href="https://mirrors.edge.kernel.org/linuxmint/stable/22/linuxmint-22-cinnamon-64bit.iso">22</a></li>

					<li><a target="_blank" href="https://mirrors.edge.kernel.org/linuxmint/stable/21.3/linuxmint-21.3-cinnamon-64bit.iso">21.3</a></li>

				</ul>

			</td>

			<td>current</td>

		</tr>

		<tr>

			<td>MX Linux</td>

			<td><a target="_blank" href="https://sourceforge.net/projects/mx-linux/files/Final/KDE/MX-23.5_KDE_x64.iso">23.5</a></td>

			<td>2025-01-12</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://sourceforge.net/projects/mx-linux/files/Final/KDE/MX-23.5_KDE_x64.iso">23.5</a></li>

					<li><a target="_blank" href="https://sourceforge.net/projects/mx-linux/files/Old/MX-23.4/KDE/MX-23.4_KDE_x64.iso">23.4</a></li>

					<li><a target="_blank" href="https://sourceforge.net/projects/mx-linux/files/Old/MX-23.3/KDE/MX-23.3_KDE_x64.iso">23.3</a></li>

				</ul>

			</td>

			<td>current</td>

		</tr>

		<tr>

			<td>OpenMediaVault</td>

			<td><a target="_blank" href="https://sourceforge.net/projects/openmediavault/files/iso/7.4.17/openmediavault_7.4.17-amd64.iso">7.4.17</a></td>

			<td>2024-12-23</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://sourceforge.net/projects/openmediavault/files/iso/7.4.17/openmediavault_7.4.17-amd64.iso">7.4.17</a></li>

					<li><a target="_blank" href="https://sourceforge.net/projects/openmediavault/files/iso/7.0-32/openmediavault_7.0-32-amd64.iso">7.0-32</a></li>

					<li><a target="_blank" href="https://sourceforge.net/projects/openmediavault/files/iso/7.0-20/openmediavault_7.0-20-amd64.iso">7.0-20</a></li>

				</ul>

			</td>

			<td>current</td>

		</tr>

		<tr>

			<td>openSUSE (Leap)</td>

			<td><a target="_blank" href="https://download.opensuse.org/distribution/leap/15.6/iso/openSUSE-Leap-15.6-DVD-x86_64-Media.iso">15.6</a></td>

			<td>2024-06-20</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://download.opensuse.org/distribution/leap/15.6/iso/openSUSE-Leap-15.6-DVD-x86_64-Media.iso">15.6</a></li>

					<li><a target="_blank" href="https://download.opensuse.org/distribution/leap/15.5/iso/openSUSE-Leap-15.5-DVD-x86_64-Media.iso">15.5</a></li>

					<li><a target="_blank" href="https://download.opensuse.org/distribution/leap/15.4/iso/openSUSE-Leap-15.4-DVD-x86_64-Media.iso">15.4</a></li>

				</ul>

			</td>

			<td class="table-warning">archive</td>

		</tr>

		<tr>

			<td>OPNsense</td>

			<td><a target="_blank" href="https://mirror.wdc1.us.leaseweb.net/opnsense/releases/25.1/OPNsense-25.1-dvd-amd64.iso.bz2">25.1</a></td>

			<td>2025-01-28</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://mirror.wdc1.us.leaseweb.net/opnsense/releases/25.1/OPNsense-25.1-dvd-amd64.iso.bz2">25.1</a></li>

					<li><a target="_blank" href="https://mirror.wdc1.us.leaseweb.net/opnsense/releases/24.7/OPNsense-24.7-dvd-amd64.iso.bz2">24.7</a></li>

					<li><a target="_blank" href="https://mirror.wdc1.us.leaseweb.net/opnsense/releases/24.1/OPNsense-24.1-dvd-amd64.iso.bz2">24.1</a></li>

				</ul>

			</td>

			<td>current</td>

		</tr>

		<tr>

			<td>Parrot Security</td>

			<td><a target="_blank" href="https://deb.parrot.sh/parrot/iso/6.3.2/Parrot-security-6.3.2_amd64.iso">6.3.2</a></td>

			<td>2025-01-28</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://deb.parrot.sh/parrot/iso/6.3.2/Parrot-security-6.3.2_amd64.iso">6.3.2</a></li>

					<li><a target="_blank" href="https://deb.parrot.sh/parrot/iso/6.2/Parrot-security-6.2_amd64.iso">6.2</a></li>

					<li><a target="_blank" href="https://deb.parrot.sh/parrot/iso/6.1/Parrot-security-6.1_amd64.iso">6.1</a></li>

				</ul>

			</td>

			<td>current</td>

		</tr>

		<tr>

			<td>pfSense</td>

			<td><a target="_blank" href="https://atxfiles.netgate.com/mirror/downloads/pfSense-CE-2.7.2-RELEASE-amd64.iso.gz">2.7.2</a></td>

			<td>2023-12-08</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://atxfiles.netgate.com/mirror/downloads/pfSense-CE-2.7.2-RELEASE-amd64.iso.gz">2.7.2</a></li>

					<li><a target="_blank" href="https://atxfiles.netgate.com/mirror/downloads/pfSense-CE-2.7.1-RELEASE-amd64.iso.gz">2.7.1</a></li>

					<li><a target="_blank" href="https://atxfiles.netgate.com/mirror/downloads/pfSense-CE-2.7.0-RELEASE-amd64.iso.gz">2.7.0</a></li>

				</ul>

			</td>

			<td>current</td>

		</tr>

		<tr>

			<td>Proxmox</td>

			<td><a target="_blank" href="https://enterprise.proxmox.com/iso/proxmox-ve_8.3-1.iso">8.3-1</a></td>

			<td>2024-11-21</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://enterprise.proxmox.com/iso/proxmox-ve_8.3-1.iso">8.3-1</a></li>

					<li><a target="_blank" href="https://enterprise.proxmox.com/iso/proxmox-ve_8.2-2.iso">8.2-2</a></li>

					<li><a target="_blank" href="https://enterprise.proxmox.com/iso/proxmox-ve_7.4-1.iso">7.4-1</a></li>

				</ul>

			</td>

			<td>current</td>

		</tr>

		<tr>

			<td>Raspberry Pi OS</td>

			<td><a target="_blank" href="https://downloads.raspberrypi.com/raspios_arm64/images/raspios_arm64-2024-11-19/2024-11-19-raspios-bookworm-arm64.img.xz">2024-11-19</a></td>

			<td>2024-11-19</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://downloads.raspberrypi.com/raspios_arm64/images/raspios_arm64-2024-11-19/2024-11-19-raspios-bookworm-arm64.img.xz">2024-11-19</a></li>

					<li><a target="_blank" href="https://downloads.raspberrypi.com/raspios_arm64/images/raspios_arm64-2024-11-18/2024-11-13-raspios-bookworm-arm64.img.xz">2024-11-18</a></li>

					<li><a target="_blank" href="https://downloads.raspberrypi.com/raspios_arm64/images/raspios_arm64-2024-10-28/2024-10-22-raspios-bookworm-arm64.img.xz">2024-10-28</a></li>

				</ul>

			</td>

			<td>current</td>

		</tr>

		<tr>

			<td>Rescuezilla</td>

			<td><a target="_blank" href="https://github.com/rescuezilla/rescuezilla/releases/download/2.5.1/rescuezilla-2.5.1-64bit.noble.iso">2.5.1</a></td>

			<td>2024-09-09</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://github.com/rescuezilla/rescuezilla/releases/download/2.5.1/rescuezilla-2.5.1-64bit.noble.iso">2.5.1</a></li>

					<li><a target="_blank" href="https://github.com/rescuezilla/rescuezilla/releases/download/2.5/rescuezilla-2.5-64bit.noble.iso">2.5</a></li>

					<li><a target="_blank" href="https://github.com/rescuezilla/rescuezilla/releases/download/2.4.2/rescuezilla-2.4.2-64bit.kinetic.iso">2.4.2</a></li>

				</ul>

			</td>

			<td>current</td>

		</tr>

		<tr>

			<td>Rocky Linux</td>

			<td><a target="_blank" href="https://download.rockylinux.org/pub/rocky/9.5/isos/x86_64/Rocky-9.5-x86_64-dvd.iso">9.5</a></td>

			<td>2024-11-16</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://download.rockylinux.org/pub/rocky/9.5/isos/x86_64/Rocky-9.5-x86_64-dvd.iso">9.5</a></li>

					<li><a target="_blank" href="https://dl.rockylinux.org/vault/rocky/9.4/isos/x86_64/Rocky-9.4-x86_64-dvd.iso">9.4</a></li>

					<li><a target="_blank" href="https://dl.rockylinux.org/vault/rocky/9.3/isos/x86_64/Rocky-9.3-x86_64-dvd.iso">9.3</a></li>

				</ul>

			</td>

			<td>current</td>

		</tr>

		<tr>

			<td>ShredOS</td>

			<td><a target="_blank" href="https://github.com/PartialVolume/shredos.x86_64/releases/download/v2024.02.2_26.0_x86-64_0.37/shredos-2024.02.2_26.0_x86-64_0.37_20240611.iso">2024.02.2_26.0</a></td>

			<td>2024-05-29</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://github.com/PartialVolume/shredos.x86_64/releases/download/v2024.02.2_26.0_x86-64_0.37/shredos-2024.02.2_26.0_x86-64_0.37_20240611.iso">2024.02.2_26.0</a></li>

					<li><a target="_blank" href="https://github.com/PartialVolume/shredos.x86_64/releases/download/v2023.08.2_25.0_x86-64_0.35/shredos-2023.08.2_25.0_x86-64_0.35_20240207.iso">2023.08.2_25.0</a></li>

					<li><a target="_blank" href="https://github.com/PartialVolume/shredos.x86_64/releases/download/v2021.08.2_23.5_x86-64_0.34/shredos-2021.08.2_23.5_x86-64_0.34_20230702.img">2021.08.2_23.5</a></li>

				</ul>

			</td>

			<td>current</td>

		</tr>

		<tr>

			<td>Slackware</td>

			<td><a target="_blank" href="https://mirrors.slackware.com/slackware/slackware-iso/slackware64-15.0-iso/slackware64-15.0-install-dvd.iso">15.0</a></td>

			<td>2022-02-03</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://mirrors.slackware.com/slackware/slackware-iso/slackware64-15.0-iso/slackware64-15.0-install-dvd.iso">15.0</a></li>

					<li><a target="_blank" href="https://mirrors.slackware.com/slackware/slackware-iso/slackware64-14.2-iso/slackware64-14.2-install-dvd.iso">14.2</a></li>

					<li><a target="_blank" href="https://mirrors.slackware.com/slackware/slackware-iso/slackware64-14.1-iso/slackware64-14.1-install-dvd.iso">14.1</a></li>

				</ul>

			</td>

			<td>current</td>

		</tr>

		<tr>

			<td>TrueNAS (Community Edition)</td>

			<td><a target="_blank" href="https://download.sys.truenas.net/TrueNAS-SCALE-ElectricEel/24.10.2/TrueNAS-SCALE-24.10.2.iso">24.10.2</a></td>

			<td>ERR_INV</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://download.sys.truenas.net/TrueNAS-SCALE-ElectricEel/24.10.2/TrueNAS-SCALE-24.10.2.iso">24.10.2</a></li>

					<li><a target="_blank" href="https://download.sys.truenas.net/TrueNAS-SCALE-ElectricEel/24.10.1/TrueNAS-SCALE-24.10.1.iso">24.10.1</a></li>

					<li><a target="_blank" href="https://download.sys.truenas.net/TrueNAS-SCALE-ElectricEel/24.10.0.2/TrueNAS-SCALE-24.10.0.2.iso">24.10.0.2</a></li>

				</ul>

			</td>

			<td>current</td>

		</tr>

		<tr>

			<td>Ubuntu</td>

			<td><a target="_blank" href="https://releases.ubuntu.com/24.10/ubuntu-24.10-desktop-amd64.iso">24.10</a></td>

			<td>2024-10-09</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://releases.ubuntu.com/24.10/ubuntu-24.10-desktop-amd64.iso">24.10</a></li>

					<li><a target="_blank" href="https://releases.ubuntu.com/24.04.2/ubuntu-24.04.2-desktop-amd64.iso">24.04.2</a></li>

					<li><a target="_blank" href="https://releases.ubuntu.com/24.04/ubuntu-24.04.2-desktop-amd64.iso">24.04</a></li>

				</ul>

			</td>

			<td>current</td>

		</tr>

		<tr>

			<td>XCP-ng</td>

			<td><a target="_blank" href="https://updates.xcp-ng.org/isos/8.2/xcp-ng-8.2.1.iso">8.2</a></td>

			<td>2022-02-25</td>

			<td>

				<ul>

					<li><a target="_blank" href="https://updates.xcp-ng.org/isos/8.2/xcp-ng-8.2.1.iso">8.2</a></li>

					<li><a target="_blank" href="https://updates.xcp-ng.org/isos/8.1/xcp-ng-8.1.0-2.iso">8.1</a></li>

					<li><a target="_blank" href="https://updates.xcp-ng.org/isos/8.0/xcp-ng-8.0.0.iso">8.0</a></li>

				</ul>

			</td>

			<td>current</td>

		</tr>

	</tbody>

</table>

</div>

</article>

<article id="data-list">

<div>

<ol class="list-group">

</ol>

</div>

</article>
