
	{% unless page.offline %}
	<footer class="container pt-4 pb-2 border-top border-1 border-dark-subtle">
		<div class="row">
			<div class="col-12 col-md">
				<small class="d-block mb-3 text-body-secondary">{% include l10n-footer.html %}</small>
				<small class="d-block mb-3 text-body-secondary"><i>{{ site.data.strings.footer_update }}. <span id="date"></span>.</i></small>
			</div>
			<div class="col-6 col-md">
				<h5>Script</h5>
				<ul class="list-unstyled text-small">
					<li><a class="link-secondary text-decoration-none" target="_blank" href="https://gitlab.com/fredericpetit/self/-/tree/main/org/bash/distro-tracker/prod/standalone">tracker</a> (Bash)</li>
				</ul>
			</div>
			<div class="col-6 col-md">
				<h5>{{ site.data.strings.footer_package }}</h5>
				<ul class="list-unstyled text-small">
					<li><a class="link-secondary text-decoration-none" target="_blank" href="https://gitlab.com/fredericpetit/self/-/tree/main/org/bash/distro-tracker/prod/package/debian/releases">.deb (amd64)</a></li>
					<li><a class="link-secondary text-decoration-none" target="_blank" href="https://snapcraft.io/distro-tracker">Snapcraft</a></li>
					<li>Flatpak ({{ site.data.strings.footer_soon }})</li>
				</ul>
			</div>
			<div class="col-6 col-md">
				<h5>{{ site.data.strings.footer_tracker }}</h5>
				<ul class="list-unstyled text-small">
					<li><a class="link-secondary text-decoration-none" href="{{ site.url }}/datas.html">datas.html</a></li>
					<li><a class="link-secondary text-decoration-none" href="{{ site.url }}/datas.csv">datas.csv</a></li>
					<li><a class="link-secondary text-decoration-none" href="{{ site.url }}/datas.json">datas.json</a></li>
					<li><a class="link-secondary text-decoration-none" href="{{ site.url }}/datas.yaml">datas.yaml</a></li>
				</ul>
			</div>
			<div class="col-6 col-md">
				<h5>{{ site.data.strings.footer_reporter }}</h5>
				<ul class="list-unstyled text-small">
					<li><a class="link-secondary text-decoration-none" href="{{ site.url }}/report.json">report.json</a></li>
					<li><a class="link-secondary text-decoration-none" href="{{ site.url }}/report.yaml">report.yaml</a></li>
				</ul>
			</div>
		</div>
	</footer>
	{% endunless %}

	<!-- JS Bootstrap -->
	<script src="{{ '/assets/vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/color-modes.js' | relative_url }}"></script>

	{% if page.syntax == 'highlight' %}
	<!-- JS code -->
	<script src="{{ '/assets/vendor/fredericpetit/highlightjs-composer/assets/js/highlight.min.js' | relative_url }}"></script>
	<script>hljs.highlightAll();</script>
	{% endif %}

	{% if page.permalink == '/' %}
	<!-- JS code -->
	<script src="{{ '/assets/js/countdown.js' | relative_url }}"></script>
	<script>updateCountdown();</script>
	{% endif %}