	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" media="(prefers-color-scheme: light)" content="#f8f9fa">
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#212529">

		<!-- dsc -->
		<title>{% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
		<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

		{% if page.pwa == true %}
		<!-- pwa -->
		<link rel="manifest" href="{{ '/manifest.json' | relative_url }}">
		{% endif %}

		<!-- social -->
		<meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% endif %}{% if page.title %}{{ " - " }}{% endif %}{{ site.title | escape }}">
		<meta property="og:image" content="{{ '/assets/img/logo_1200.png' | prepend: site.url }}">
		<meta property="og:language" content="fr">

		<!-- favicon -->
		<link rel="icon" href="{{ '/assets/img/logo_32.png.ico' | relative_url }}">

		<!-- CSS Bootstrap, Font Awesome, Ubuntu Font & highlightJS -->
		<link rel="stylesheet" href="{{ '/assets/vendor/twbs/bootstrap/dist/css/bootstrap.min.css' | relative_url }}">
		<link rel="stylesheet" href="{{ '/assets/vendor/fortawesome/font-awesome/css/all.min.css' | relative_url }}">
		<link rel="stylesheet" href="{{ '/assets/vendor/fredericpetit/ubuntu-font-composer/assets/css/font.min.css' | relative_url }}">
		<link rel="stylesheet" href="{{ '/assets/vendor/fredericpetit/highlightjs-composer/assets/css/xt256.css' | relative_url }}">

		<!-- style -->
		<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
		{% if page.index == true %}<link rel="stylesheet" href="{{ '/assets/css/card.css' | relative_url }}">{% endif %}

		<!-- others -->
		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
		<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/news.xml' | relative_url }}">

		{% if page.pwa == true %}
		<!-- pwa -->
		<script>
			// Test : register.
			window.addEventListener('load', () => {
				if ('serviceWorker' in navigator) {
					navigator.serviceWorker.register('/sw.js')
					.then((registration) => {
						console.log("DT :: Register Service Worker success : ", registration);
						// Test : running
						if (registration.active) {
							console.log("DT :: Service Worker is active.");
						} else {
							console.log("DT :: Service Worker is not yet active.");
						}
					})
					.catch((error) => {
						console.log("DT :: Register Service Worker failed :", error);
					});
				}
				// Test : already installed.
				const installStatus = document.getElementById("install");
				if (installStatus) {
					if (window.matchMedia('(display-mode: standalone)').matches || navigator.standalone) {
						installStatus.textContent = "in app";
					} else {
						installStatus.textContent = "in website";
					}
				}
			});
		</script>
		{% endif %}
	</head>