
				<h2 class="fw-bold pt-3">{{ site.data.strings.slogan_1 }}</h2>
				<h4 class="fw-normal text-muted mb-1">{{ site.data.strings.slogan_2 }}</h4>
				<h4 class="fw-normal text-muted mb-1">{{ site.data.strings.slogan_3 }}</h4>
				<h4 class="fw-normal text-muted mb-1">{{ site.data.strings.slogan_4 }}</h4>