---
title: Changements

layout: page
permalink: /changes/
lang: fr

author: Frédéric
---

<div class="mb-3">
	<ul class="list-group list-group-flush">
		{% for post in site.categories.changes %}
		<li class="pb-0 list-group-item">
			<p class="fw-bold"><i class="small fa-solid fa-bell"></i> <a title="{{ post.title }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> <span class="small">({{ post.date | date: "%Hh%M" }})</span></p>
		</li>
		{% endfor %}
	</ul>
</div>

<div class="mb-0 alert alert-info" role="alert">
	<h4 class="alert-heading fw-bold">Restez informés !</h4>
	<p>Abonnement <a href="{{ "/changes.xml" | prepend: site.baseurl }}">via RSS</a>.</p>
	<hr>
	<p class="mb-0">Ce flux est mis à jour via <a title="distro-reporter" href="https://gitlab.com/fredericpetit/self">distro-reporter</a>.</p>
</div>