---
title: Actualités

layout: page
permalink: /news/
lang: fr

author: Frédéric
---

<div class="mb-3">
	<ul class="list-group list-group-flush">
		{% for post in site.categories.news %}
		<li class="pb-0 list-group-item">
			<p class="fw-bold"><i class="small fa-solid fa-circle-info"></i> <a title="{{ post.title }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> <span class="small">({{ post.date | date: "%d" }} {{ post.date | localize: '%B', page.lang | capitalize }} {{ post.date | date: "%Y - %Hh%M" }})</span></p>
		</li>
		{% endfor %}
	</ul>
</div>

<div class="mb-0 alert alert-info" role="alert">
	<h4 class="alert-heading fw-bold">Restez informés !</h4>
	<p>Abonnement <a href="{{ "/news.xml" | prepend: site.baseurl }}">via RSS</a>.</p>
	<hr>
	<p class="mb-0">Ce flux contient les annonces du développement de Distro Tracker, des exemples et des astuces pour son usage au quotidien.</p>
</div>