/*############################
# by : fredericpetit.fr
##############################
# script : main.css
# usage : main style
# source : https://getbootstrap.com/docs/5.3/examples/product/ & https://getbootstrap.com/docs/5.3/examples/navbar-static/
############################*/

/* #################### the most beautiful font #################### */
body { font-family: 'Ubuntu', sans-serif !important; }

/* code correctly displays */
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}

/* COMMON DROPDOWN & NAV - from product.html */
.bi {
	vertical-align: -.125em;
	fill: currentColor;
}
.btn-bd-primary {
	--bd-violet-bg: #712cf9;
	--bd-violet-rgb: 112.520718, 44.062154, 249.437846;
	--bs-btn-font-weight: 600;
	--bs-btn-color: var(--bs-white);
	--bs-btn-bg: var(--bd-violet-bg);
	--bs-btn-border-color: var(--bd-violet-bg);
	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: #6528e0;
	--bs-btn-hover-border-color: #6528e0;
	--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
	--bs-btn-active-color: var(--bs-btn-hover-color);
	--bs-btn-active-bg: #5a23c8;
	--bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle { z-index: 1500; }
.bd-mode-toggle .dropdown-menu .active .bi { display: block !important; }

/* COMMON PAGE - from product.css */
.icon-link > .bi {
	width: .75em;
	height: .75em;
}
/* Device */
.product-device {
	position: absolute;
	right: 10%;
	bottom: -60%;
	width: 200px;
	height: 360px;
	background-color: black;
	background-image: url(../img/distro-tracker_shell_logo_slim.png);
	border-radius: 20px;
	transform: rotate(30deg);
}
.product-device::before {
	position: absolute;
	top: 10%;
	right: 10px;
	bottom: 10%;
	left: 10px;
	content: "";
	background-color: rgba(255, 255, 255, .1);
	border-radius: 5px;
}
/* Extra utilities */
.flex-equal > * {
	flex: 1;
}
@media (min-width: 768px) {
	.flex-md-equal > * {
		flex: 1;
	}
}

/* COMMON NAVBAR */
.navbar > .container-fluid > a.navbar-brand { margin-top: -3px !important; }

/* COMMON INDEX */
p.lead a:link, p.lead a:visited, p.lead a:hover, p.lead a:active,
div.lead a:link, div.lead a:visited, div.lead a:hover, div.lead a:active { font-weight: bold; }
p.lead a.link-secondary:link { color: white !important; }

/* DATA.html */
@media (max-width: 719px) {
	article#data-table { display: none; }
}
@media (min-width: 720px) {
	article#data-list { display: none; }
}
article#data-list a:link, article#data-list a:visited { text-decoration: none; }
article#data-list a:hover { text-decoration: underline;}

/* INDEX.html */
/* avoid strange space between text and font awesome icon */
div.lead > a.icon-link, 
p.lead > a.icon-link { display: inline-block; }
div#banner-news {
	background-image: linear-gradient(135deg, #31d2f2 25%, #0dcaf0 25%, #0dcaf0 50%, #31d2f2 50%, #31d2f2 75%, #0dcaf0 75%, #0dcaf0 100%);
	background-size: 40px 40px;
}
div#banner-report {
	background-image: linear-gradient(45deg, #ffca2c 25%, #ffc107 25%, #ffc107 50%, #ffca2c 50%, #ffca2c 75%, #ffc107 75%, #ffc107 100%);
	background-size: 40px 40px;
}
div#banner-check {
	background-image: linear-gradient(135deg, #134d32 25%, #0d4129 25%, #0d4129 50%, #134d32 50%, #134d32 75%, #0d4129 75%, #0d4129 100%);
	background-size: 40px 40px;
}
/* dark links */
[data-bs-theme="dark"] main p.lead a.link-primary:link, 
[data-bs-theme="dark"] main p.lead a.link-primary:visited {
	color: white !important;
	-webkit-text-decoration-color: RGBA(var(--bs-secondary-rgb), var(--bs-link-underline-opacity, 1)) !important;
	text-decoration-color: RGBA(var(--bs-secondary-rgb), var(--bs-link-underline-opacity, 1)) !important;
}
[data-bs-theme="dark"] main p.lead a.link-primary:hover, 
[data-bs-theme="dark"] main p.lead a.link-primary:focus {
	color: white !important;
	-webkit-text-decoration-color: RGBA(86, 94, 100, var(--bs-link-underline-opacity, 1)) !important;
	text-decoration-color: RGBA(86, 94, 100, var(--bs-link-underline-opacity, 1)) !important;
}

/* OTHER than INDEX.html */
main div.container {
	max-width: 960px;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}