---
layout: default
permalink: /cover.html
lang: en

author: Frédéric
---

<div style="height: 800px;" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
	<div class="col-md-6 p-lg-5 mx-auto my-5">
		<h1 class="display-3 fw-bold">Don't search, track !</h1>
		<h3 class="fw-normal text-muted mb-3">find out latest</h3>
		<h3 class="fw-normal text-muted mb-3">stable versions of</h3>
		<h3 class="fw-normal text-muted mb-3">GNU/Linux & BSD distributions</h3>
		<div class="d-flex gap-3 justify-content-center lead fw-normal">
			<h1 class="fw-bold">distrotracker.com</h1>
		</div>
	</div>
	<div style="top: 10%;" class="product-device shadow-sm d-none d-md-block"></div>
</div>