---
title: Webdatas

layout: page
permalink: /datas.html

author: Frédéric

pwa: true
---

<div class="alert alert-info" role="alert">
	<p>{{ site.data.strings.datas_1 }} <i>distro-tracker</i> {{ site.data.strings.datas_2 }} <i>distro-converter</i> ({{ site.data.strings.datas_3 }} <i>distro-csv2html</i>) {{ site.data.strings.datas_4 }} <a title="{{ site.data.strings.datas_5 }}" href="https://gitlab.com/fredericpetit/self" class="alert-link">{{ site.data.strings.datas_5 }}</a>.</p>
	<hr>
	<p class="mb-0">{{ site.data.strings.datas_6 }} <a title="{{ site.data.strings.datas_7 }}" href="changes" class="alert-link">{{ site.data.strings.datas_8 }}</a> {{ site.data.strings.datas_9 }} <i>distro-reporter</i> {{ site.data.strings.datas_10 }} <a title="{{ site.data.strings.datas_5 }}" href="https://gitlab.com/fredericpetit/self" class="alert-link">{{ site.data.strings.datas_5 }}</a>.</p>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="p-0 alert alert-success fw-bold" role="alert">
			<p class="m-0 p-2">
				<i class="fa-solid fa-clock pe-1"></i> {{ site.data.strings.datas_11 }} : <span id="date">11/03/2025 - 20h03</span>
			</p>
		</div>
	</div>
	<div class="col-md-6">
		<a href="pwa.html" class="btn btn-warning w-100 fw-bold p-2">{{ site.data.strings.datas_12 }}</a>
	</div>
</div>

{% include datas.html %}