---
layout: default
permalink: /

author: Frédéric

index: true
---

<div class="position-relative overflow-hidden p-3 text-center bg-body-tertiary">
	<div class="col-md-6 mx-auto">
		{% include slogan.html %}
		{% include l10n-index.html %}
	</div>
	<div class="product-device shadow-sm d-none d-lg-block"></div>
</div>

<div id="banner-news" class="position-relative overflow-hidden mt-md-3 text-center bg-info">
	<h5 class="w100 p-3 m-0 text-dark">
		<i class="fa-solid fa-circle-info"></i> 
		{% assign first_post = site.categories.news | first %}
		{{ first_post.date | date: "%d" }} {{ first_post.date | localize: '%B', site.active_lang | capitalize }} : <a title="{{ first_post.title }}" class="fw-bold link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ first_post.url | prepend: site.baseurl }}">{{ first_post.title }}</a> [{{ site.active_lang | upcase }}]
	</h5>
</div>

<div id="banner-report" class="position-relative overflow-hidden mt-md-3 text-center bg-warning">
	<h5 id="download" class="w100 p-3 m-0 text-dark">
		<i class="small fa-solid fa-bell"></i> 
		{% assign first_post = site.categories.changes | first %}
		{{ site.data.strings.index_0 }} : <a title="{{ first_post.title }}" class="fw-bold link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ first_post.url | prepend: site.baseurl }}">{{ first_post.title }}</a> (via <a title="{{ first_post.title }}" class="fw-bold link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="datas.html">{{ site.data.strings.index_1 }}</a>)
	</h5>
</div>

<div id="banner-check" class="position-relative overflow-hidden mt-md-3 text-center bg-success">
	<h5 class="w100 p-3 m-0 text-white">
		<i class="small fa-solid fa-clipboard-check"></i> {{ site.data.strings.index_check }} : <span id="countdown"></span>
	</h5>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">

	<div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
		<div class="my-3 py-3">
			<h2 class="display-5"><i class="fa-solid fa-terminal"></i> distro-tracker</h2>
			<p class="lead">
				<a title="{{ site.data.strings.index_2 }}" href="https://gitlab.com/fredericpetit/self/-/tree/main/org/bash/distro-tracker/prod/standalone" class="icon-link link-secondary" target="_blank">{{ site.data.strings.index_3 }} <i class="fa-solid fa-caret-right"></i></a>
			</p>
		</div>
		<div class="mx-auto" id="card-bash"></div>
	</div>

	<div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
		<div class="my-3 p-3">
			<h2 class="display-5"><i class="fa-solid fa-cube"></i> distro-tracker</h2>
			<p class="lead">
				<a title="{{ site.data.strings.index_4 }}" href="https://gitlab.com/fredericpetit/self/-/tree/main/org/bash/distro-tracker/prod/package/debian/releases" class="icon-link link-primary" target="_blank">{{ site.data.strings.index_5 }} <i class="fa-solid fa-caret-right"></i></a>
			</p>
		</div>
		<div class="mx-auto" id="card-debian"></div>
	</div>

</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">

	<div class="bg-body-secondary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
		<div class="my-3 p-3">
			<h2 class="display-5">{{ site.data.strings.index_6 }}</h2>
			<p class="lead">
				<a title="{{ site.data.strings.index_7 }}" href="https://snapcraft.io/distro-tracker" class="icon-link link-primary" target="_blank">{{ site.data.strings.index_8 }} <i class="fa-solid fa-caret-right"></i></a>
			</p>
		</div>
		<div class="mx-auto" id="card-snapcraft"></div>
	</div>

	<div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
		<div class="my-3 py-3">
			<h2 class="display-5">{{ site.data.strings.index_9 }}</h2>
			<p class="lead">{{ site.data.strings.index_10 }}</p>
		</div>
		<div class="bg-body-tertiary shadow-sm mx-auto" id="card-flatpak"></div>
	</div>

</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">

	<div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
		<div class="my-3 p-3">
			<h2 class="display-5">datas.html</h2>
			<p class="lead">
				<a title="HTML" href="datas.html" class="icon-link link-primary">{{ site.data.strings.index_11 }} <i class="fa-solid fa-caret-right"></i></a>
			</p>
		</div>
		<div class="mx-auto" id="card-html"></div>
	</div>

	<div class="bg-body-secondary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
		<div class="my-3 py-3">
			<h2 class="display-5">datas.csv</h2>
			<p class="lead">
				<a title="CSV" href="datas.csv" class="icon-link link-primary">{{ site.data.strings.index_12 }} <i class="fa-solid fa-caret-right"></i></a>
			</p>
		</div>
		<div class="mx-auto" id="card-csv"></div>
	</div>

</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">

	<div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
		<div class="my-3 p-3">
			<h2 class="display-5">datas.json</h2>
			<p class="lead">
				<a title="JSON" href="datas.json" class="icon-link link-secondary">{{ site.data.strings.index_13 }} <i class="fa-solid fa-caret-right"></i></a>
			</p>
		</div>
		<div class="mx-auto" id="card-json"></div>
	</div>

	<div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
		<div class="my-3 py-3">
			<h2 class="display-5">datas.yaml</h2>
			<p class="lead">
				<a title="YAML" href="datas.yaml" class="icon-link link-primary">{{ site.data.strings.index_14 }} <i class="fa-solid fa-caret-right"></i></a>
			</p>
		</div>
		<div class="mx-auto" id="card-yaml"></div>
	</div>

</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">

	<div class="bg-body-secondary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
		<div class="my-3 p-3">
			<h2 class="display-5">{{ site.data.strings.index_15 }}</h2>
			<p class="lead">
				<a title="{{ site.data.strings.index_16 }}" href="tools.html" class="icon-link link-primary">{{ site.data.strings.index_17 }} <i class="fa-solid fa-caret-right"></i></a>
			</p>
		</div>
		<div class="bg-dark shadow-sm mx-auto" id="card-map"></div>
	</div>

	<div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
		<div class="my-3 py-3">
			<h2 class="display-5">{{ site.data.strings.index_18 }}</h2>
			<p class="lead">
				<a title="{{ site.data.strings.index_19 }}" href="mailto:contact@fredericpetit.fr?subject=distro-tracker%201.0&body=inscription%20%21" class="icon-link link-secondary">{{ site.data.strings.index_20 }} <i class="fa-solid fa-caret-right"></i></a>
			</p>
		</div>
		<div class="bg-body-tertiary shadow-sm mx-auto" id="card-mail"></div>
	</div>

</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">

	<div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
		<div class="my-3 p-3">
			<h2 class="display-5">{{ site.data.strings.index_21 }}</h2>
			<p class="lead">
				<a title="{{ site.data.strings.index_22 }}" href="https://www.facebook.com/distrotracker" class="icon-link link-primary" target="_blank">{{ site.data.strings.index_23 }} <i class="fa-solid fa-caret-right"></i></a>
			</p>
		</div>
		<div class="bg-dark shadow-sm mx-auto" id="card-facebook"></div>
	</div>

<!--
	<div class="bg-body-secondary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
		<div class="my-3 py-3">
			<h2 class="display-5">{{ site.data.strings.index_24 }}</h2>
			<p class="lead">
				<a title="{{ site.data.strings.index_25 }}" href="https://whatsapp.com/channel/0029VafbuaX72WTyixys7b2N" class="icon-link link-primary" target="_blank">{{ site.data.strings.index_26 }} <i class="fa-solid fa-caret-right"></i></a>
			</p>
		</div>
		<div class="bg-dark shadow-sm mx-auto" id="card-whatsapp"></div>
	</div>
-->

<div class="bg-body-secondary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
	<div class="my-3 py-3">
		<h2 class="display-5">{{ site.data.strings.index_24 }}</h2>
		<p class="lead">
			<a title="{{ site.data.strings.index_25 }}" href="https://bsky.app/profile/distrotracker.bsky.social" class="icon-link link-primary" target="_blank">{{ site.data.strings.index_26 }} <i class="fa-solid fa-caret-right"></i></a>
		</p>
	</div>
	<div class="bg-dark shadow-sm mx-auto" id="card-bluesky"></div>
</div>

</div>