---
title: Webdatas (PWA)

layout: page
permalink: /offline.html

author: Frédéric

pwa: true
offline: true
---

<div role="alert" class="p-2 alert alert-info fw-bold">
	<p class="m-0 pb-1">status : offline</p>
	<p class="m-0 p-0">revision : <span id="revision">---</span></p>
</div>

<article id="data-table">
	<div class="table-responsive">
		<table class="mb-0 table table-bordered table-striped">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">VersionLatest</th>
					<th scope="col">VersionLatestDate</th>
					<th scope="col">VersionValid</th>
					<th scope="col">Source</th>
				</tr>
			</thead>
			<tbody class="table-group-divider" id="tableBody"></tbody>
		</table>
	</div>
</article>

<article id="data-list">
	<div>
		<ol class="list-group" id="listBody"></ol>
	</div>
</article>

<script>
	// Vars : local.
	const jsonUrl = '/datas.json';

	// Get datas.
	fetch(jsonUrl)
		.then(response => response.json())
		.then(data => {
			displayTable(data.distro);
			displayRevisionDate(data.revision);
		}).catch(error => {
			console.error("DT :: Error updating local datas :", error);
		});

	// Function to display data in HTML table & list.
	function displayTable(data) {
		// Some definition.
		const tableBody = document.getElementById("tableBody");
		tableBody.innerHTML = "";
		const listBody = document.getElementById("listBody");
		listBody.innerHTML = "";
		const thirtyOneDaysInMs = 31 * 86400 * 1000;
		// Loop : distro.
		data.forEach(item => {
			// Construct valid list.
			let tableList = "<ul>";
			let listList = "";
			item.releases.valid.forEach((release, index) => {
				tableList += `<li>${release.version}</li>`;
				listList += `${release.version}`;
				// Test : last element.
				if (index < item.releases.valid.length - 1) {
					listList += ", ";
				}
			});
			tableList += "</ul>";
			// Calculating date difference for version freshness.
			const releaseDate = new Date(item.releases.latest.date);
			const currentDate = new Date();
			const dateDifferenceMs = currentDate - releaseDate;
			const isFreshRelease = dateDifferenceMs <= thirtyOneDaysInMs;
			// Create the HTML line with color class if the release is fresh.
			let tableRow = `<tr>
				<td>${item.fullname}</td>
				<td>${item.releases.latest.version}</td>
				<td class="${isFreshRelease ? 'table-success' : ''}">${item.releases.latest.date}</td>
				<td>${tableList}</td>
				<td>${item.source}</td>
			</tr>`;
			tableBody.innerHTML += tableRow;
			// Create the HTML list.
			let listRow = `<li class="list-group-item d-flex justify-content-between align-items-start">
				<div class="ms-2 me-auto">
					<div class="fs-5 fw-bold">${item.fullname}</div>
					<p>all latest : ${listList}</p>
				</div>
				<span class="fs-5 fw-bold badge text-bg-primary rounded-pill">${item.releases.latest.version}</span>
			</li>`;
			listBody.innerHTML += listRow;
		});
	}

	// Date.
	function displayRevisionDate(revisionDate) {
		// Some definition.
		const revisionElement = document.getElementById("revision");
		const date = new Date(revisionDate);
		const formattedDate = date.toLocaleDateString("fr-FR", {
			day: "2-digit",
			month: "2-digit",
			year: "numeric"
		});
		const formattedTime = date.toLocaleTimeString("fr-FR", {
			hour: "2-digit",
			minute: "2-digit"
		});
		revisionElement.textContent = `${formattedDate} (${formattedTime})`;
	}
</script>