---
title: Webdatas (PWA)

layout: page
permalink: /pwa.html

author: Frédéric

pwa: true
---

<div role="alert" class="p-2 alert alert-info fw-bold">
	<p class="m-0 pb-1">status : <span id="status">---</span> | <span id="install">---</span></p>
	<p class="m-0 p-0">revision : <span id="revision">---</span></p>
</div>

<div class="input-group mb-3">
	<input type="text" class="form-control" placeholder="https://distrotracker.com/datas.json" aria-label="https://distrotracker.com/datas.json" aria-describedby="refresh" disabled>
	<button type="button" class="btn btn-primary" id="refresh">
		<i class="fa-solid fa-rotate"></i> reload datas
	</button>
</div>

<article id="data-table">
	<div class="table-responsive">
		<table class="mb-0 table table-bordered table-striped">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">VersionLatest</th>
					<th scope="col">VersionLatestDate</th>
					<th scope="col">VersionValid</th>
					<th scope="col">Source</th>
				</tr>
			</thead>
			<tbody class="table-group-divider" id="tableBody"></tbody>
		</table>
	</div>
</article>

<article id="data-list">
	<div>
		<ol class="list-group" id="listBody"></ol>
	</div>
</article>

<script>
	// Vars : URLs for local & distant datas.
	const localJsonUrl = '/datas.json';
	const remoteJsonUrl = 'https://distrotracker.com/datas.json';
	const cachedData = localStorage.getItem('cachedData');
	// Event listener for the "refresh" button : reloads data from the remote server.
	document.getElementById('refresh').addEventListener('click', () => {
		// Some definition.
		const refreshButton = document.getElementById("refresh");
		const tableBody = document.getElementById("tableBody");
		const listBody = document.getElementById("listBody");
		setStatus("reloading ...");
		refreshButton.disabled = true;
		// Empty table & list.
		tableBody.innerHTML = "";
		listBody.innerHTML = "";
		// Feed table.
		const loadingRow = document.createElement("tr");
		loadingRow.innerHTML = `<td colspan="5">updating ...</td>`;
		tableBody.appendChild(loadingRow);
		// Feed list.
		const loadingList = document.createElement("li");
		loadingList.className = "list-group-item d-flex justify-content-between align-items-start";
		loadingList.innerHTML = `<div class="ms-2 me-auto"><div class="fs-5 fw-bold">updating ...</div></div>`;
		listBody.appendChild(loadingList);
		// Promise return.
		setTimeout(() => {
			updateDataFromRemote().then(() => {
				refreshButton.disabled = false;
			});
		}, 1000);
	});

	// Function to update the page status.
	function setStatus(message) {
		document.getElementById("status").textContent = `${message}`;
	}

	// Function to retrieve and update data from remote URL.
	function updateDataFromRemote() {
		return fetchAndUpdate(remoteJsonUrl).then((data) => {
			if (data) {
				localStorage.setItem('cachedData', JSON.stringify(data));
				setStatus("local & cache updated");
			}
		}).catch(error => {
			console.error("DT :: Error updating local datas :", error);
			setStatus("error-update");
		});
	}

	// Asynchronous function to retrieve JSON data from a URL and display it.
	async function fetchAndUpdate(url) {
		try {
			const response = await fetch(url);
			const data = await response.json();
			displayTable(data.distro);
			displayRevisionDate(data.revision);
			return data;
		} catch (error) {
			console.error('DT :: Error loading JSON :', error);
			setStatus("error-fetch");
		}
	}

	// Function to display data in HTML table & list.
	function displayTable(data) {
		// Some definition.
		const tableBody = document.getElementById("tableBody");
		tableBody.innerHTML = "";
		const listBody = document.getElementById("listBody");
		listBody.innerHTML = "";
		const thirtyOneDaysInMs = 31 * 86400 * 1000;
		// Loop : distro.
		data.forEach(item => {
			// Construct valid list.
			let tableList = "<ul>";
			let listList = "";
			item.releases.valid.forEach((release, index) => {
				tableList += `<li>${release.version}</li>`;
				listList += `${release.version}`;
				// Test : last element.
				if (index < item.releases.valid.length - 1) {
					listList += ", ";
				}
			});
			tableList += "</ul>";
			// Calculating date difference for version freshness.
			const releaseDate = new Date(item.releases.latest.date);
			const currentDate = new Date();
			const dateDifferenceMs = currentDate - releaseDate;
			const isFreshRelease = dateDifferenceMs <= thirtyOneDaysInMs;
			// Create the HTML line with color class if the release is fresh.
			let tableRow = `<tr>
				<td>${item.fullname}</td>
				<td>${item.releases.latest.version}</td>
				<td class="${isFreshRelease ? 'table-success' : ''}">${item.releases.latest.date}</td>
				<td>${tableList}</td>
				<td>${item.source}</td>
			</tr>`;
			tableBody.innerHTML += tableRow;
			// Create the HTML list.
			let listRow = `<li class="list-group-item d-flex justify-content-between align-items-start">
				<div class="ms-2 me-auto">
					<div class="fs-5 fw-bold">${item.fullname}</div>
					<p>all latest : ${listList}</p>
				</div>
				<span class="fs-5 fw-bold badge text-bg-primary rounded-pill">${item.releases.latest.version}</span>
			</li>`;
			listBody.innerHTML += listRow;
		});
	}

	// Date.
	function displayRevisionDate(revisionDate) {
		// Some definition.
		const revisionElement = document.getElementById("revision");
		const date = new Date(revisionDate);
		const formattedDate = date.toLocaleDateString("fr-FR", {
			day: "2-digit",
			month: "2-digit",
			year: "numeric"
		});
		const formattedTime = date.toLocaleTimeString("fr-FR", {
			hour: "2-digit",
			minute: "2-digit"
		});
		revisionElement.textContent = `${formattedDate} (${formattedTime})`;
	}

	// Initial data loading : if data is present in the cache, display it directly; otherwise, load local data.
	if (cachedData) {
		const data = JSON.parse(cachedData);
		displayTable(data.distro);
		displayRevisionDate(data.revision);
		setStatus("loaded from cache");
	} else {
		fetchAndUpdate(localJsonUrl).then(() => {
			setStatus("loaded from local");
		});
	}
</script>