<!DOCTYPE html>
<html lang="{{ site.data.l10n.lang_name | downcase }}">

{% include head.html %}

	<body>

		{% include header.html %}

		<main>

			{{ content }}

		</main>

		{% include footer.html %}

	</body>

</html>