---
layout: default
---

	<div class="container">
		<div class="p-3 bg-body-tertiary rounded-3">

			<h1 class="p-1 fw-bold">{{ page.title }}</h1>

			{% unless page.pwa %}
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb breadcrumb-chevron p-1 bg-body-tertiary border border-2 rounded-3">
					<li class="ps-2 breadcrumb-item">
						<a class="link-body-emphasis" href="{{ site.url }}/{{ lang }}"><i class="fa-solid fa-house"></i> <span class="visually-hidden">Index</span></a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">
						{{ page.title | truncate: 30, "(...)" }}
					</li>
				</ol>
			</nav>
			{% endunless %}

			<div class="content">

				{{ content }}

			</div>

		</div>
	</div>