---
layout: default
---

	<div class="container">
		<div class="p-3 bg-body-tertiary rounded-3">

			<h1 class="p-1 fw-bold">{{ page.title }}</h1>

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb breadcrumb-chevron p-1 bg-body-tertiary border border-2 rounded-3">
					<li class="ps-2 breadcrumb-item">
						<a class="link-body-emphasis" href="{{ site.url }}/{{ lang }}"><i class="fa-solid fa-house"></i> <span class="visually-hidden">Index</span></a>
					</li>
					<li class="breadcrumb-item">
						<a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ site.url }}/{{ page.categories }}">{{ page.categories }}</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">
						{{ page.title | truncate: 30, "(...)" }}
					</li>
				</ol>
			</nav>

			<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
				<p class="post-meta">
					<span class="badge text-bg-primary"><i class="fa-solid fa-calendar-days"></i> 
						<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
							{{ page.date | localize: '%A', page.lang | capitalize }} 
							{{ page.date | localize: '%d', page.lang }} 
							{{ page.date | localize: '%B', page.lang | capitalize }} 
							{{ page.date | localize: '%Y', page.lang }}
							{% if page.categories contains "changes" %}
								, {{ page.date | localize: '%H:%M', page.lang }}
							{% endif %}
						</time>
					</span> 
					<span class="badge text-bg-info" itemprop="author" itemscope itemtype="http://schema.org/Person">
						<span itemprop="name"><i class="fa-solid fa-user"></i> {{ page.author }}</span>
					</span>
				</p>
				<div class="post-content" itemprop="articleBody">

					{{ content }}

				</div>
			</article>

		</div>
	</div>